<app-pure-settings-content
  [availableThemes]="availableThemeList"
  [selectedTheme]="(selectedTheme$ | async) ?? ''"
  (selectedThemeChange)="selectedTheme$.next($event)"
  [fontSize]="(fontSize$ | async) ?? 20"
  (fontSizeChange)="fontSize$.next($event)"
  [fontFamilyGroupOne]="(fontFamilyGroupOne$ | async) ?? ''"
  (fontFamilyGroupOneChange)="fontFamilyGroupOne$.next($event)"
  [fontFamilyGroupTwo]="(fontFamilyGroupTwo$ | async) ?? ''"
  (fontFamilyGroupTwoChange)="fontFamilyGroupTwo$.next($event)"
  [blurImage]="(blurImage$ | async) ?? false"
  (blurImageChange)="blurImage$.next($event)"
  [hideFurigana]="(furiganaMode$ | async) ?? false"
  (hideFuriganaChange)="furiganaMode$.next($event)"
  [furiganaStyle]="(furiganaStyle$ | async) ?? defaultFuriganaStyle"
  (furiganaStyleChange)="furiganaStyle$.next($event)"
  [writingMode]="(writingMode$ | async) ?? defaultWritingMode"
  (writingModeChange)="writingMode$.next($event)"
  [secondDimensionMaxValue]="(secondDimensionMaxValue$ | async) ?? 0"
  (secondDimensionMaxValueChange)="secondDimensionMaxValue$.next($event)"
  [firstDimensionMargin]="(firstDimensionMargin$ | async) ?? 0"
  (firstDimensionMarginChange)="firstDimensionMargin$.next($event)"
  [autoPositionOnResize]="(autoPositionOnResize$ | async) ?? false"
  (autoPositionOnResizeChange)="autoPositionOnResize$.next($event)"></app-pure-settings-content>

