.book-manager {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  writing-mode: horizontal-tb;
  @media screen and (min-width: 900px) {
    font-size: larger;
  }
}

.top-bar {
  background-color: #37474F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.bar-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;

  @media screen and (min-width: 1400px) {
    max-width: 50%;
    padding: 0;
  }

  .hidden {
    visibility: hidden;
  }
}

.pointer {
  cursor: pointer;
}

.margin-icon {
  margin-left: 0.75rem;

  @media screen and (min-width: 700px) {
    margin-left: 1.5rem;
  }
}

.margin-icon-right {
  margin-right: 0.75rem;

  @media screen and (min-width: 700px) {
    margin-right: 1.5rem;
  }
}

.centered {
  position: absolute;
  left: 50%;
}

.custom-svg-icon {
  display: flex;
  align-items: center;
  height: 100%;

  > svg {
    height: 1em;
    fill: currentColor;
  }
}

virtual-scroller {
  display: flex;
}

.books {
  width: 100%;
  --repeat: auto-fit;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(var(--repeat, auto-fit), 70px);
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  justify-content: space-evenly;
  margin: auto;

  @media screen and (min-width: 700px) {
    grid-template-columns: repeat(var(--repeat, auto-fit), 140px);
    column-gap: 2rem;
    row-gap: 2rem;
  }

  @media screen and (min-width: 900px) {
    .books {
      --repeat: 6;
    }
  }

  @media screen and (min-width: 1400px) {
    width: 50%;
  }

  .book {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
  }

  .cover {
    position: relative;
    cursor: pointer;

    img {
      height: 100px;
      width: 70px;
      border: 1px dashed transparent;

      @media screen and (min-width: 700px) {
        height: 200px;
        width: 140px;
      }

      &.fallback {
        border: 1px dashed;
      }
    }

    input {
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(1.5);
      cursor: pointer;

      @media screen and (min-width: 700px) {
        transform: scale(2);
      }
    }

    .title {
      display: -webkit-box;
      position: absolute;
      width: calc(100% - 9px);
      bottom: 10px;
      background-color: #37474F;
      color: white;
      opacity: 0.8;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 35px;
      font-size: 10px;
      border: 4px solid transparent;
      left: 1px;

      @media screen and (min-width: 700px) {
        height: 48px;
        font-size: 14px;
        left: 0;
        width: calc(100% - 16px);
        border: 8px solid transparent;
      }

      @media screen and (min-width: 900px) {

      }
    }

    .prog {
      box-sizing: content-box;
      height: 8px;
      position: absolute;
      background: rgba(150,150,150,0.75);
      padding: 1px;
      box-shadow: inset 0 -1px 1px rgb(255 255 255 / 30%);
      width: calc(100% - 2px);
      bottom: 2px;

      > span {
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #d62020;
        box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
          inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
      }
    }

    &.loaded {

      img {
        box-shadow: 5px 4px 3px var(--cover-shadow);

        @media screen and (min-width: 700px) {
          box-shadow: 8px 7px 6px var(--cover-shadow);
        }
      }

      &.current {
        img {
          box-shadow: 5px 4px 3px #f08080;

          @media screen and (min-width: 700px) {
            box-shadow: 8px 7px 6px #f08080;
          }
        }
      }

      .loader {
        display: none;
      }
    }
  }

  .loader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--font-color);
    border-radius: 50%;
    border-top-color: transparent;
  }

  @keyframes preloader-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  &.floating {
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(calc(70px), 1fr));
    justify-content: flex-start;

    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(var(--repeat, auto-fit), minmax(calc(140px), 1fr));
    }
  }
}
