<div class="book-manager">
  <div class="top-bar">
    <div class="bar-content">
      <div>
        <div [hidden]="!selectedBooks">
          <fa-icon class="pointer margin-icon-right" [icon]="faTimes" (click)="processBookSelection(false)"></fa-icon>
          <span>{{selectedBooks}} selected</span>
        </div>
      </div>
      <div>
        <div class="pointer centered custom-svg-icon" (click)="processBookSelection(selectedBooks !== books.length)">
          <svg *ngIf="selectedBooks === books.length; else selectAllDefaultRef"
               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M3 5h2V3c-1.1 0-2 .9-2 2zm0 8h2v-2H3v2zm4 8h2v-2H7v2zM3 9h2V7H3v2zm10-6h-2v2h2V3zm6 0v2h2c0-1.1-.9-2-2-2zM5 21v-2H3c0 1.1.9 2 2 2zm-2-4h2v-2H3v2zM9 3H7v2h2V3zm2 18h2v-2h-2v2zm8-8h2v-2h-2v2zm0 8c1.1 0 2-.9 2-2h-2v2zm0-12h2V7h-2v2zm0 8h2v-2h-2v2zm-4 4h2v-2h-2v2zm0-16h2V3h-2v2zM7 17h10V7H7v10z"/>
          </svg>
          <ng-template #selectAllDefaultRef>
            <!-- Material Select All -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M3 5h2V3c-1.1 0-2 .9-2 2zm0 8h2v-2H3v2zm4 8h2v-2H7v2zM3 9h2V7H3v2zm10-6h-2v2h2V3zm6 0v2h2c0-1.1-.9-2-2-2zM5 21v-2H3c0 1.1.9 2 2 2zm-2-4h2v-2H3v2zM9 3H7v2h2V3zm2 18h2v-2h-2v2zm8-8h2v-2h-2v2zm0 8c1.1 0 2-.9 2-2h-2v2zm0-12h2V7h-2v2zm0 8h2v-2h-2v2zm-4 4h2v-2h-2v2zm0-16h2V3h-2v2zM7 17h10V7H7v10zm2-8h6v6H9V9z"/>
            </svg>
          </ng-template>
        </div>
        <fa-icon [ngClass]="{'hidden': !selectedBooks}" class="pointer margin-icon" [icon]="faTrash"
          (click)="executeDelete()">
        </fa-icon>
        <fa-icon [hidden]="selectedBooks || !currentBookId" class="pointer margin-icon" [icon]="faSignOutAlt"
          (click)="closeManager()">
        </fa-icon>
      </div>
    </div>
  </div>
  <virtual-scroller #scroll [items]="books" [scrollAnimationTime]="0" (vsUpdate)="queue$.next($event)">
    <div class="books" [ngClass]="{'floating': books.length > 2}" [hidden]="!books.length" #container>
      <div *ngFor="let book of scroll.viewPortItems;trackBy: trackByFunction" class="book">
        <div class="cover" [ngClass]="{'current': book.id === this.currentBookId, 'loaded': book.coverLoaded}">
          <img [attr.data-id]="book.id" [src]="book.cover" (load)="setImageToLoaded(book)" (click)="navigateTo(book.id)"
            [ngClass]="{'fallback': book.useFallback}" />
          <input type="checkbox" [checked]="book.isSelected" (change)="handleSelection($event, book)" />
          <div class='title' [attr.title]="book.title" (click)="navigateTo(book.id)">{{book.title}}</div>
          <div class="prog"><span [style.width]="book.progress"></span></div>
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </virtual-scroller>
</div>
