<div class="book-manager">
  <div class="top-bar">
    <div class="bar-content">
      <div>
        <div [hidden]="!selectedBooks">
          <fa-icon class="pointer margin-icon-right" [icon]="faTimes" (click)="processBookSelection(false)"></fa-icon>
          <span>{{selectedBooks}} selected</span>
        </div>
      </div>
      <div>
        <fa-icon class="pointer centered" [icon]="selectedBooks === books.length ? faCloneSolid : faClone"
          (click)="processBookSelection(true)"></fa-icon>
        <fa-icon [hidden]="!selectedBooks" class="pointer margin-icon" [icon]="faTrash" (click)="executeDelete()">
        </fa-icon>
        <fa-icon class="pointer margin-icon" [ngClass]="{'hidden': selectedBooks || !currentBookId}"
          [icon]="faSignOutAlt" (click)="closeManager()">
        </fa-icon>
      </div>
    </div>
  </div>
  <virtual-scroller #scroll [items]="books" [scrollAnimationTime]="0" (vsUpdate)="queue$.next($event)">
    <div class="books" [hidden]="!books.length" #container>
      <div *ngFor="let book of scroll.viewPortItems;trackBy: trackByFunction" class="book">
        <div class="cover" [ngClass]="{'current': book.id === this.currentBookId, 'loaded': book.coverLoaded}">
          <img [attr.data-id]="book.id" [src]="book.cover" (load)="setImageToLoaded(book)" (click)="navigateTo(book.id)"
            [ngClass]="{'fallback': book.useFallback}" />
          <input type="checkbox" [checked]="book.isSelected" (change)="handleSelection($event, book)" />
          <div class='title' [attr.title]="book.title" (click)="navigateTo(book.id)">{{book.title}}</div>
          <div class="prog"><span [style.width]="book.progress"></span></div>
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </virtual-scroller>
</div>
