/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: rgba(0, 0, 0, 0.87);
  --background-color: #eceff1;
  scrollbar-color: #c1c1c1 #c1c1c100;
}

.book-cover {
  overflow-clip-margin: unset;
}

@layer base {
  body {
    color: var(--font-color);
    background-color: var(--background-color);
  }
}

@layer utilities {
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}

@font-face {
  font-family: 'KZ UDMincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KZUDMincho-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/KZUDMincho-Regular.woff') format('woff');
}

@font-face {
  font-family: 'KZ UDMincho';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KZUDMincho-Bold.woff2') format('woff2'),
    url('$lib/assets/fonts/KZUDMincho-Bold.woff') format('woff');
}

@font-face {
  font-family: 'KZ UDGothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KZUDGothic-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/KZUDGothic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'KZ UDGothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KZUDGothic-Bold.woff2') format('woff2'),
    url('$lib/assets/fonts/KZUDGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Genei Koburi Mincho v5';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/GeneiKoburi-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/GeneiKoburi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Klee One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KleeOne-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/KleeOne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Klee One';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KleeOne-SemiBold.woff2') format('woff2'),
    url('$lib/assets/fonts/KleeOne-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Klee One SemiBold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/KleeOne-SemiBold.woff2') format('woff2'),
    url('$lib/assets/fonts/KleeOne-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSansJP-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Medium.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSansJP-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSansJP-Bold.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSansJP-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSerifJP-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Medium.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSerifJP-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/NotoSerifJP-Bold.woff2') format('woff2'),
    url('$lib/assets/fonts/NotoSerifJP-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/ShipporiMincho-Regular.woff2') format('woff2'),
    url('$lib/assets/fonts/ShipporiMincho-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/ShipporiMincho-Medium.woff2') format('woff2'),
    url('$lib/assets/fonts/ShipporiMincho-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Shippori Mincho';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url('$lib/assets/fonts/ShipporiMincho-Bold.woff2') format('woff2'),
    url('$lib/assets/fonts/ShipporiMincho-Bold.woff') format('woff');
}
