<virtual-scroller class="h-full" #scroll [items]="bookCards" [parentScroll]="scroll.window" (vsUpdate)="vsUpdate.emit($event)">
  <!-- pb-4 defined here to include padding to the parent component, until https://github.com/rintoj/ngx-virtual-scroller/issues/472 fixed -->
  <div #container class="grid justify-between grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-5 pb-4">
    <div class="relative" (mouseenter)="onMouseEnter(bookCard)" (mouseleave)="onMouseLeave()"
      *ngFor="let bookCard of scroll.viewPortItems; trackBy: trackByBookCard; let i = index">
      <div class="relative overflow-hidden elevation-1 hover:elevation-8 elevation-transition"
        [class.rounded-tl-xl]="bookCard.id === currentBookId"
        [class.elevation-4]="(selectedBookIds | has: bookCard.id) || bookCard.id === currentBookId">
        <app-book-card [imagePath]="(bookCard.imagePath | async) ?? ''" [title]="bookCard.title" [progress]="bookCard.progress"
          (click)="bookClick.emit(bookCard)">
        </app-book-card>
        <div class="absolute inset-0 bg-gray-700 bg-opacity-20 cursor-pointer" (click)="bookClick.emit(bookCard)"
          *ngIf="selectedBookIds | has: bookCard.id"
          [@shaderInOut]>
          <fa-icon class="absolute left-2 top-2 text-white text-xl flex" [icon]="faCheckCircle"></fa-icon>
        </div>
      </div>
      <div
        class="absolute -top-2 -right-2 bg-red-400 rounded-full elevation-2 hover:elevation-8 elevation-transition w-6 h-6 cursor-pointer"
        [@actionInOut] (click)="removeBookClick.emit(bookCard)" *ngIf="bookCard.id === (hoveringBookId$ | async)">
        <svg role="img" class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 504 504">
          <path class="fill-current text-white"
            d="M369.6 313.1c4.7 4.7 4.7 12.3 0 17L330 369.6c-4.7 4.7-12.3 4.7-17 0L248 304l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L126.4 330c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L304 248l65.6 65.1z" />
        </svg>
      </div>
    </div>
  </div>
</virtual-scroller>
