<router-outlet></router-outlet>

<ng-container *ngIf="visible$ | async">
  <div *ngIf="autoScrollerService.activated" class="top-overlay auto-mode-container">
    <span class="uppercase">Auto</span> ({{ autoScrollerService.multiplier }}x)
  </div>

  <div class="top-overlay action-icon-container">
    <label class="no-margin">
      <fa-icon class="action-icon"
               [icon]="faFileMedical"></fa-icon>
      <input type="file" accept=".htmlz,.epub" multiple (change)="onInputChange(inputRef)" hidden #inputRef>
    </label>
    <label class="no-margin" *ngIf="!isMobileDevice">
      <fa-icon class="action-icon margin-icon"
               [icon]="faFolderPlus"></fa-icon>
      <input type="file" webkitdirectory directory multiple (change)="onInputChange(inputDirRef)"
        hidden #inputDirRef>
    </label>
    <fa-icon class="action-icon margin-icon"
             [icon]="faBookmark"
             (click)="bookmarManagerService.saveScrollPosition()"></fa-icon>
    <fa-icon class="action-icon margin-icon"
             [icon]="faCog"
             (click)="setShowSettingsDialog(true)"></fa-icon>
  </div>
  <div class="top-overlay action-icon-container_left">
    <fa-icon class="action-icon margin-icon" *ngIf="supportsFullscreen"
             [icon]="faExpand"
             (click)="toggleFullscreen()"></fa-icon>
  </div>
</ng-container>

<div class="overlay-container loading-container"
     *ngIf="loadingDb || (ebookDisplayManagerService.loadingFile$ | async); else notLoadingRef">
  Loading...
</div>

<div class="overlay-container loading-container drop-zone-container darker"
     *ngIf="(ebookDisplayManagerService.loadingFiles$ | async)">
  <div class="progress-container">
    <div class="truncate">{{ebookDisplayManagerService.loadingFiles$.value?.title}}</div>
    <div class="progress">
      <span [style.width]="ebookDisplayManagerService.loadingFiles$.value?.progress"></span>
    </div>
  </div>
</div>

<ng-template #notLoadingRef>
  <label class="overlay-container drop-zone-container label-button" *ngIf="!(visible$ | async)" (click)="zoneInputRef.click();"
    (contextmenu)="$event.preventDefault();zoneInputDirRef.click();">
    {{dropZoneLabel}}
  </label>
  <input type="file" accept=".htmlz,.epub" multiple hidden #zoneInputRef (change)="onInputChange(zoneInputRef)">
  <input type="file" webkitdirectory directory multiple hidden #zoneInputDirRef (change)="onInputChange(zoneInputDirRef)">
</ng-template>

<div class="dialog-overlay"
     *ngIf="showSettingsDialog"
     (click)="setShowSettingsDialog(false)">
  <app-settings-dialog class="settings-dialog"
                       (closeClick)="setShowSettingsDialog(false)"
                       (click)="$event.stopPropagation()"></app-settings-dialog>
</div>

<fa-icon *ngIf="isUpdateAvailable"
         [icon]="faSyncAlt"
         class="information-overlay bottom-overlay update-ready-icon"></fa-icon>
