.top-overlay {
  position: fixed;
  color: var(--scroll-info-font-color);
  z-index: 100;
  user-select: none;
  writing-mode: horizontal-tb;
  top: 0;

  @media screen and (min-height: 625px) {
    top: 8px;
  }

  @media screen and (min-height: 725px) {
    top: 16px;
  }
}

.auto-mode-container {
  left: 8px;
  font-size: 10px;
  padding: 2px;
  font-weight: 500;
  opacity: .6;

  @media screen and (min-height: 900px) {
    font-size: 16px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.action-icon-container {
  display: flex;
  font-size: 16px;
  right: 8px;

  @media screen and (min-height: 900px) {
    font-size: 24px;
  }
}

.action-icon-container--left {
  display: flex;
  font-size: 16px;
  left: 8px;

  @media screen and (min-height: 900px) {
    font-size: 24px;
  }
}

.action-icon {
  display: block;
  cursor: pointer;
  padding: 2px;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  @media screen and (min-height: 625px) {
    padding: 4px;
  }

  @media screen and (min-height: 725px) {
    padding: 8px;
  }

}

.margin-icon {
  margin-left: 16px;

  @media screen and (min-height: 900px) {
    margin-left: 8px;
  }
}

.dialog-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 40, 41, .6);
}

.settings-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 8px rgba(33, 37, 41, .2);
}

.overlay-container {
  position: fixed;
  writing-mode: horizontal-tb;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: rgba(38, 40, 41, .8);
}

.loading-container {
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  &.darker {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.progress-container {
  width: 100vw;

  > div {
    margin: 0rem 3rem;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  :first-child {
    margin-bottom: 2rem;

    @media screen and (min-width: 1200px) {
      margin-bottom: 1rem;
    }
  }

  .truncate {
    width: calc(100vw - 6rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 1200px) {
      width: 50vw;
    }
  }

  .progress {
    box-sizing: content-box;
    height: 20px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

    > span {
      display: block;
      height: 100%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: #2bc253;
      box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 50vw;
  }
}

.drop-zone-container {
  z-index: 1001;
}

.label-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-margin {
  margin: 0;
}

.book-library-screen {
  display: block;
  width: 100%;
  height: 100%;
  writing-mode: horizontal-tb;
}

.update-ready-icon {
  left: 8px;
}

.tooltip {
  position: relative;

  &:before {
    content: attr(data-tooltip);
    position: absolute;

    max-width: 130px;
    padding :10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    display: none;
  }

  &:hover:before {
    display: block;
  }

  &.bottom-left:before {
    top: 100%;
    left: 0%;
  }

  &.bottom-center:before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom-right:before {
    top: 100%;
    right: 0%;
  }
}
