<div class="book-content m-auto"
     [style.color]="fontColor"
     [style.font-size]="fontSize + 'px'"
     [style.max-width]="(!verticalMode && secondDimensionMaxValue) ? secondDimensionMaxValue + 'px' : undefined"
     [style.max-height]="(verticalMode && secondDimensionMaxValue) ? secondDimensionMaxValue + 'px' : undefined"
     [style.padding-left]="(verticalMode && firstDimensionMargin) ? firstDimensionMargin + 'px' : undefined"
     [style.padding-right]="(verticalMode && firstDimensionMargin) ? firstDimensionMargin + 'px' : undefined"
     [style.padding-top]="(!verticalMode && firstDimensionMargin) ? firstDimensionMargin + 'px' : undefined"
     [style.padding-right]="(!verticalMode && firstDimensionMargin) ? firstDimensionMargin + 'px' : undefined"
     [style.--font-family-serif]="fontFamilyGroupOne"
     [style.--font-family-sans-serif]="fontFamilyGroupTwo"
     [style.--book-content-hint-furigana-font-color]="hintFuriganaFontColor"
     [style.--book-content-hint-furigana-shadow-color]="hintFuriganaShadowColor"
     [class.book-content--writing-vertical-rl]="verticalMode"
     [class.book-content--writing-horizontal-rl]="!verticalMode"
     [class.book-content--hide-furigana]="hideFurigana"
     [class.book-content--hide-spoiler-image]="hideSpoilerImage"
     [class.book-content--furigana-style-partial]="furiganaStyle === FuriganaStyle.Partial"
     [class.book-content--furigana-style-full]="furiganaStyle === FuriganaStyle.Full"
     #content></div>
