.book-content {
  font-family: var(--font-family-serif, "Lora", "Noto Serif JP", serif);
  line-height: 1.65;
}

.book-content--writing-vertical-rl {
  height: 100%;
}

$placeholder-color: black;

.book-content ::ng-deep {
  svg {
    margin: auto;
  }

  svg,
  img {
    max-height: 100vh;
  }

  a {
    color: inherit !important;
  }

  a:link {
    opacity: 0.8;
  }

  a:hover {
    opacity: 0.95;
  }

  ruby > rt {
    user-select: none;
  }

  [data-ttu-spoiler-img] {
    .spoiler-label {
      display: none;
    }
  }
}

.book-content--hide-furigana.book-content--furigana-style-partial ::ng-deep {
  ruby {
    rt {
      color: var(--book-content-hint-furigana-font-color);
    }

    @media (hover: hover) {
      &:hover {
        rt {
          color: inherit;
        }
      }
    }

    &.reveal-rt {
      rt {
        color: inherit;
      }
    }
  }
}

.book-content--hide-furigana.book-content--furigana-style-full ::ng-deep {
  ruby {
    text-shadow: var(--book-content-hint-furigana-shadow-color) 1px 0 10px;

    rt {
      visibility: hidden;
    }

    @media (hover: hover) {
      &:hover {
        rt {
          visibility: visible;
        }
      }
    }

    &.reveal-rt {
      text-shadow: none;

      rt {
        visibility: visible;
      }
    }
  }
}

.book-content--hide-spoiler-image ::ng-deep {
  [data-ttu-spoiler-img] {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    & .spoiler-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #dcddde;
      background-color: rgba(0, 0, 0, 0.6);
      display: inline-block;
      padding: 12px 8px;
      border-radius: 20px;
      font-size: 15px;
      font-family: "Noto Sans JP", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
    }

    @media (hover: hover) {
      &:hover .spoiler-label {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.9);
      }
    }

    & img,
    & svg {
      filter: blur(44px);
    }
  }
}

.book-content--writing-horizontal-rl ::ng-deep {
  > * {
    margin-bottom: 6rem;
  }

  .grouped-image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    svg {
      margin: 0;
    }
  }
}

.book-content--writing-vertical-rl ::ng-deep {
  > * {
    margin-left: 6rem;
  }

  img {
    max-height: var(--book-content-child-height, 100%);
  }
}
