<app-book-manager-header
  class="fixed top-0 inset-x-0 z-10 elevation-4"
  [haveBookOpened]="!!currentBookId"
  [(selectMode)]="selectMode"
  [selectedCount]="selectedBookIds.size"
  [isImporting]="isImporting"
  (removeClick)="onRemoveClick()"
  (bugReportClick)="bugReportClick.emit()"
  (selectAllClick)="onSelectAllClick()"
  (deselectAllClick)="onDeselectAllClick()"
  (filesChange)="filesChange.emit($event)"></app-book-manager-header>
<div class="block px-screen pt-16 xl:pt-14 h-full">
  <ng-container *ngIf="isLoading; else notLoadingRef">
    Loading...
  </ng-container>
  <ng-template #notLoadingRef>
    <app-book-card-list
      *ngIf="bookIds.length; else emptyStateRef"
      [currentBookId]="currentBookId"
      [selectedBookIds]="selectedBookIds"
      (bookClick)="onBookClick($event)">
    </app-book-card-list>
    <ng-template #emptyStateRef>
      <div class="flex justify-center pt-44 text-gray-400 text-opacity-40">
        <fa-icon
          class="flex justify-center w-3/6 xl:w-3/12"
          [icon]="faUpload"
          [styles]="{ width: '100%', height: 'auto' }"></fa-icon>
      </div>
      <label class="fixed z-0 inset-0">
        <input data-test-id="upload-book-empty" type="file" accept=".htmlz,.epub" (change)="onInputChange(inputRef)" [disabled]="isImporting" multiple hidden #inputRef>
      </label>
    </ng-template>
  </ng-template>
</div>
