:host {
  display: block;
  border-radius: 6px;
  width: 600px;
  max-width: 90vw;
  color: #222222;
  background-color: #ffffff;
  writing-mode: horizontal-tb;
  font-size: 16px;
}

.dialog-padding {
  padding: 16px;
}

.dialog-header {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 1.5em;
}

.item-header {
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: bold;
}

.button-row {
  margin-bottom: 12px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.button {
  color: #222222;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.button-styling {
  font-size: 1.25em;
  padding: 8px;
  border: 2px solid #dddddd;

  &.active {
    border-color: #4baae0;
  }

  &:hover {
    border-color: #222222;
  }
}

.theme-button {
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: 30px;
  box-shadow: inset 0 0 0 1px #ffffff;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
}

.label-button {
  display: inline-block;
  vertical-align: bottom;
}

.icon-button {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.clickable-button {
  cursor: pointer;
}
