@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./mat";

:root {
  --font-color: rgba(0, 0, 0, 0.87);
  --background-color: #eceff1;
}

@layer base {
  html {
    width: 100%;
    height: 100%;
  }

  body {
    @apply font-sans;
    color: var(--font-color);
    background-color: var(--background-color);
    overflow-wrap: break-word;
    width: 100%;
    height: 100%;
  }
}

@layer utilities {
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }

  .px-screen {
    @apply px-4 md:px-8 lg:max-w-4xl xl:max-w-none 2xl:max-w-6xl mx-auto;
  }

  .px-reader {
    @apply px-4 md:px-8;
  }

  .opacity-header-icon {
    @apply opacity-60 hover:opacity-100 transition-opacity;
  }

  .p-header-fa {
    @apply p-4 xl:p-3;
  }

  .-translate-x-header-fa {
    @apply -translate-x-4 xl:-translate-x-3;
  }

  .translate-x-header-fa {
    @apply translate-x-4 xl:translate-x-3;
  }

  .p-header-mat {
    @apply p-3 xl:p-2.5;
  }

  .-translate-x-header-mat {
    @apply -translate-x-3 xl:-translate-x-2.5;
  }

  .translate-x-header-mat {
    @apply translate-x-3 xl:translate-x-2.5;
  }
}
