name: CI
on: [push, pull_request]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.11.1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Postinstall steps
        run: pnpm svelte-kit sync
        working-directory: apps/web

      - name: Lint
        run: pnpm eslint .

      - name: Test build
        run: pnpm build
